// Here you can add other styles

/*
.card-header > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}
*/

// Asterisco de required
label.required:before {
  color: #d10c0c;
  content: "* ";
  display: inline;
}

//COLOR PARA LOS MODALES

.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}

.click-file {
  cursor: pointer;
}

#cropp-img-img {
  max-width: 500px;
  max-height: 500px;
}

.modal-header {
  background-color: #884A39 !important;
}
.bg-dark {
  background-color: #fff !important;
}
.c-sidebar .c-sidebar-brand {
  background-color: #884A39 
  ;
}

.c-sidebar .c-sidebar-nav-link {
  color: #884A39;
}

.botonesP {
  background-color: #884A39 !important;
}

.botonesCan {
  background-color: #C38154 !important;
}

#hovers {
  a:hover {
    background-color: #884A39 !important;
  }
}


.w-45{
  width: 45% !important;
}
.text-start{
  text-align: start !important;
}
.m-auto{
  margin: 0px auto;
}
.form-control:focus{
  color: #768192;
  background-color: #fff;
  border-color: #C3815491 !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(50, 31, 219, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(136, 74, 57, 0.18) !important;
}
.b-b-ligth{
  border-bottom: 1px solid #eee !important;
}
.text-bold{
  font-weight: bold;
}
.text-w-300{
  font-weight: 100;
}

