// Here you can add other styles

/*
.card-header > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}
*/

// Asterisco de required
label.required:before {
  color: #d10c0c;
  content: "* ";
  display: inline;
}

//COLOR PARA LOS MODALES

.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}

.click-file {
  cursor: pointer;
}

#cropp-img-img {
  max-width: 500px;
  max-height: 500px;
}

.modal-header {
  background-color: #884A39 !important;
}
.bg-dark {
  background-color: #fff !important;
}
.c-sidebar .c-sidebar-brand {
  background-color: #884A39 
  ;
}

.c-sidebar .c-sidebar-nav-link {
  color: #884A39;
}

.botonesP {
  background-color: #884A39 !important;
}

#hovers {
  a:hover {
    background-color: #884A39 !important;
  }
}
