@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

// Color proyect paleta
$color-active: #884A39;
$color-active-afable: #884A39;
$color-afable: #FFC26F;
$color-afable-extreme: #F9E0BB;

.font-playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}
h1,h2,h3,h4,h5,p,span,a{
  font-family: "Playfair Display", serif !important; 
}



/*
.card-header > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}
*/
/*----------------custom btn flotante whatsapp----------------*/
$button-background-color: #2eb85c; // Color de fondo del botón
$button-color: #fff; // Color del texto del botón
$button-size: 50px; // Tamaño del botón
$button-margin: 20px; // Margen del botón desde el borde de la pantalla
$tamanoo-icon: 30px; // Margen del botón desde el borde de la pantalla
/*----------------End custom btn flotante whatsapp----------------*/

// Asterisco de required
label.required:before {
  color: #d10c0c;
  content: "* ";
  display: inline;
}

//COLOR PARA LOS MODALES

.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}

.click-file {
  cursor: pointer;
}

#cropp-img-img {
  max-width: 500px;
  max-height: 500px;
}

.modal-header {
  background-color: #884A39 !important;
}
.bg-dark {
  background-color: #fff !important;
}
.c-sidebar .c-sidebar-brand {
  background-color: #884A39 
  ;
}

.c-sidebar .c-sidebar-nav-link {
  color: #884A39;
}

.botonesP {
  background-color: #884A39 !important;
}

.botonesCan {
  background-color: #C38154 !important;
}

#hovers {
  a:hover {
    background-color: #884A39 !important;
  }
}


.w-45{
  width: 45% !important;
}
.text-start{
  text-align: start !important;
}
.m-auto{
  margin: 0px auto;
}
.form-control:focus{
  color: #768192;
  background-color: #fff;
  border-color: #C3815491 !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(50, 31, 219, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(136, 74, 57, 0.18) !important;
}
.b-b-ligth{
  border-bottom: 1px solid #eee !important;
}
.text-bold{
  font-weight: bold;
}
.text-w-300{
  font-weight: 100;
}


.floating-button {
  position: fixed;
  bottom: $button-margin;
  right: $button-margin;
  background-color: $button-background-color;
  color: $button-color;
  width: $button-size;
  height: $button-size;
  border-radius: 50%;
  text-align: center;
  line-height: $button-size;
  cursor: pointer;
  z-index: 999; // Asegura que el botón esté por encima de otros elementos
  transition: background-color 0.3s;
  font-size: $tamanoo-icon;

  &:hover {
    background-color: darken($button-background-color, 10%); // Cambia el color al pasar el mouse sobre el botón
    color: white;
  }
}



@media (min-width: 1200px) {
  .modal-xxl {
    max-width: 1590px;
  }
}


.text-end{
  text-align: end !important;
}
.text-color-header{
  // color: $color-active !important;

}