@media only screen and (max-width:513px){
    #carousel-home{
        height: 370px!important;
        overflow: hidden;
    }
    #carousel-home img{
        height: 370px;
    }
}
#carousel-home{
    height:570px;overflow: hidden;
}

#seccion-productos{
    padding:50px;
    background-color: rgb(86 85 85);
}

#seccion-productos .card,#seccion-cursos .card{
    border-radius: 5px;
}
#seccion-productos .card .card-img-top,#seccion-cursos .card .card-img-top{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#seccion-cursos{
    padding:50px;  
}

#menu ul li{
    padding: 10px;
}

#footer .footer-seccion{
    width: 33.333333%;
    padding:10px;
    float: left;
}

.footer-social li, .footer-title{
    padding: 0px 1.25rem!important;
}

.list-group-item{
    border: 0px!important;;
}

.footer-copyright-seccion{
    color:white;
}


